{
  "openapi": "3.0.3",
  "info": {
    "title": "Kaneo API",
    "description": "Kaneo Project Management API - Manage projects, tasks, labels, and more",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://cloud.kaneo.app/api",
      "description": "Kaneo API Server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication"
      },
      "apiKeyCookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "apiKeyCookie",
        "description": "API Key authentication via cookie"
      }
    },
    "schemas": {
      "type": "object"
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/agent/agents-config/templates": {
      "get": {
        "operationId": "getAgentConfigTemplates",
        "tags": [
          "Agent Config"
        ],
        "description": "List bundled agent role definitions and skill templates",
        "responses": {
          "200": {
            "description": "Template list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "roles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "name",
                          "description"
                        ]
                      }
                    },
                    "skills": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "forRoles": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "nullable": true
                          }
                        },
                        "required": [
                          "name",
                          "description",
                          "forRoles"
                        ]
                      }
                    }
                  },
                  "required": [
                    "roles",
                    "skills"
                  ]
                }
              }
            }
          }
        },
        "summary": "Get Agent Config Templates"
      }
    },
    "/agent/agents-config/download": {
      "get": {
        "operationId": "downloadAgentConfig",
        "tags": [
          "Agent Config"
        ],
        "description": "Download a zip package of agent role definitions, role-scoped skills, and install script. Use ?role=<name> to filter skills to a single persona.",
        "responses": {
          "200": {
            "description": "Zip package",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Invalid role value",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "validRoles": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "message",
                    "validRoles"
                  ]
                }
              }
            }
          }
        },
        "summary": "Download Agent Config"
      }
    },
    "/label/task/{taskId}": {
      "get": {
        "operationId": "getTaskLabels",
        "tags": [
          "Labels"
        ],
        "description": "Get all labels assigned to a specific task",
        "responses": {
          "200": {
            "description": "List of labels for the task",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "color": {
                        "type": "string"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "taskId": {
                        "type": "string",
                        "nullable": true
                      },
                      "teamId": {
                        "type": "string",
                        "nullable": true
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "color",
                      "createdAt",
                      "taskId",
                      "teamId"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "data": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "taskId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Get Task Labels"
      }
    },
    "/label/team/{teamId}": {
      "get": {
        "operationId": "getTeamLabels",
        "tags": [
          "Labels"
        ],
        "description": "Get all labels for a specific team",
        "responses": {
          "200": {
            "description": "List of labels in the team",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "color": {
                        "type": "string"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "taskId": {
                        "type": "string",
                        "nullable": true
                      },
                      "teamId": {
                        "type": "string",
                        "nullable": true
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "color",
                      "createdAt",
                      "taskId",
                      "teamId"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "data": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "teamId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Get Team Labels"
      }
    },
    "/label": {
      "post": {
        "operationId": "createLabel",
        "tags": [
          "Labels"
        ],
        "description": "Create a new label in a team",
        "responses": {
          "200": {
            "description": "Label created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "color": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "taskId": {
                      "type": "string",
                      "nullable": true
                    },
                    "teamId": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "color",
                    "createdAt",
                    "taskId",
                    "teamId"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "data": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "color": {
                    "type": "string"
                  },
                  "teamId": {
                    "type": "string"
                  },
                  "taskId": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "color",
                  "teamId"
                ]
              }
            }
          }
        },
        "summary": "Create Label"
      }
    },
    "/label/{id}": {
      "get": {
        "operationId": "getLabel",
        "tags": [
          "Labels"
        ],
        "description": "Get a specific label by ID",
        "responses": {
          "200": {
            "description": "Label details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "color": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "taskId": {
                      "type": "string",
                      "nullable": true
                    },
                    "teamId": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "color",
                    "createdAt",
                    "taskId",
                    "teamId"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "data": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Get Label"
      },
      "put": {
        "operationId": "updateLabel",
        "tags": [
          "Labels"
        ],
        "description": "Update an existing label",
        "responses": {
          "200": {
            "description": "Label updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "color": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "taskId": {
                      "type": "string",
                      "nullable": true
                    },
                    "teamId": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "color",
                    "createdAt",
                    "taskId",
                    "teamId"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "data": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "color": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "color"
                ]
              }
            }
          }
        },
        "summary": "Update Label"
      },
      "delete": {
        "operationId": "deleteLabel",
        "tags": [
          "Labels"
        ],
        "description": "Delete a label by ID. Large cascades remove at most 25 task copies per request. Repeat DELETE with the same ID after HTTP 202 until HTTP 200 completes the operation. The persisted start boundary allows safe resumption after a disconnect. HTTP 429 asks the caller to retry later.",
        "responses": {
          "200": {
            "description": "Label deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "color": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "taskId": {
                      "type": "string",
                      "nullable": true
                    },
                    "teamId": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "color",
                    "createdAt",
                    "taskId",
                    "teamId"
                  ]
                }
              }
            }
          },
          "202": {
            "description": "Deletion has more batches; repeat the same request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "color": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "deletionStartedAt": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "taskId": {
                      "type": "string",
                      "nullable": true
                    },
                    "teamId": {
                      "type": "string",
                      "nullable": true
                    },
                    "pendingDeletion": {
                      "type": "boolean",
                      "const": true
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "color",
                    "createdAt",
                    "updatedAt",
                    "taskId",
                    "teamId",
                    "pendingDeletion"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "data": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "data"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Deletion capacity is busy; retry after Retry-After",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Delete Label"
      }
    },
    "/label/{id}/task": {
      "put": {
        "operationId": "attachLabelToTask",
        "tags": [
          "Labels"
        ],
        "description": "Attach an existing label to a task",
        "responses": {
          "200": {
            "description": "Label attached to task successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "color": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "taskId": {
                      "type": "string",
                      "nullable": true
                    },
                    "teamId": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "color",
                    "createdAt",
                    "taskId",
                    "teamId"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "data": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "taskId": {
                    "type": "string"
                  }
                },
                "required": [
                  "taskId"
                ]
              }
            }
          }
        },
        "summary": "Attach Label To Task"
      },
      "delete": {
        "operationId": "detachLabelFromTask",
        "tags": [
          "Labels"
        ],
        "description": "Detach a label from its current task",
        "responses": {
          "200": {
            "description": "Label detached from task successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "color": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "taskId": {
                      "type": "string",
                      "nullable": true
                    },
                    "teamId": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "color",
                    "createdAt",
                    "taskId",
                    "teamId"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "data": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Detach Label From Task"
      }
    },
    "/notification-preferences": {
      "get": {
        "operationId": "getNotificationPreferences",
        "tags": [
          "Notification Preferences"
        ],
        "description": "Get notification delivery preferences for the current user",
        "responses": {
          "200": {
            "description": "Notification preferences",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "emailAddress": {
                      "type": "string",
                      "nullable": true
                    },
                    "emailEnabled": {
                      "type": "boolean"
                    },
                    "ntfyEnabled": {
                      "type": "boolean"
                    },
                    "ntfyConfigured": {
                      "type": "boolean"
                    },
                    "ntfyServerUrl": {
                      "type": "string",
                      "nullable": true
                    },
                    "ntfyTopic": {
                      "type": "string",
                      "nullable": true
                    },
                    "ntfyTokenConfigured": {
                      "type": "boolean"
                    },
                    "maskedNtfyToken": {
                      "type": "string",
                      "nullable": true
                    },
                    "gotifyEnabled": {
                      "type": "boolean"
                    },
                    "gotifyConfigured": {
                      "type": "boolean"
                    },
                    "gotifyServerUrl": {
                      "type": "string",
                      "nullable": true
                    },
                    "gotifyTokenConfigured": {
                      "type": "boolean"
                    },
                    "maskedGotifyToken": {
                      "type": "string",
                      "nullable": true
                    },
                    "webhookEnabled": {
                      "type": "boolean"
                    },
                    "webhookConfigured": {
                      "type": "boolean"
                    },
                    "webhookUrl": {
                      "type": "string",
                      "nullable": true
                    },
                    "webhookSecretConfigured": {
                      "type": "boolean"
                    },
                    "maskedWebhookSecret": {
                      "type": "string",
                      "nullable": true
                    },
                    "taskAssignmentEnabled": {
                      "type": "boolean"
                    },
                    "taskCommentEnabled": {
                      "type": "boolean"
                    },
                    "taskStatusChangeEnabled": {
                      "type": "boolean"
                    },
                    "dueDateReminderEnabled": {
                      "type": "boolean"
                    },
                    "dueDateReminderLeadTimeMinutes": {
                      "type": "number"
                    },
                    "teams": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "teamId": {
                            "type": "string"
                          },
                          "teamName": {
                            "type": "string"
                          },
                          "isActive": {
                            "type": "boolean"
                          },
                          "emailEnabled": {
                            "type": "boolean"
                          },
                          "ntfyEnabled": {
                            "type": "boolean"
                          },
                          "gotifyEnabled": {
                            "type": "boolean"
                          },
                          "webhookEnabled": {
                            "type": "boolean"
                          },
                          "projectMode": {
                            "enum": [
                              "all",
                              "selected"
                            ],
                            "type": "string"
                          },
                          "selectedProjectIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "teamId",
                          "teamName",
                          "isActive",
                          "emailEnabled",
                          "ntfyEnabled",
                          "gotifyEnabled",
                          "webhookEnabled",
                          "projectMode",
                          "selectedProjectIds",
                          "createdAt",
                          "updatedAt"
                        ]
                      }
                    },
                    "createdAt": {
                      "nullable": true
                    },
                    "updatedAt": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "emailAddress",
                    "emailEnabled",
                    "ntfyEnabled",
                    "ntfyConfigured",
                    "ntfyServerUrl",
                    "ntfyTopic",
                    "ntfyTokenConfigured",
                    "maskedNtfyToken",
                    "gotifyEnabled",
                    "gotifyConfigured",
                    "gotifyServerUrl",
                    "gotifyTokenConfigured",
                    "maskedGotifyToken",
                    "webhookEnabled",
                    "webhookConfigured",
                    "webhookUrl",
                    "webhookSecretConfigured",
                    "maskedWebhookSecret",
                    "taskAssignmentEnabled",
                    "taskCommentEnabled",
                    "taskStatusChangeEnabled",
                    "dueDateReminderEnabled",
                    "dueDateReminderLeadTimeMinutes",
                    "teams",
                    "createdAt",
                    "updatedAt"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "summary": "Get Notification Preferences"
      },
      "put": {
        "operationId": "updateNotificationPreferences",
        "tags": [
          "Notification Preferences"
        ],
        "description": "Update global notification delivery preferences",
        "responses": {
          "200": {
            "description": "Updated notification preferences",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "emailAddress": {
                      "type": "string",
                      "nullable": true
                    },
                    "emailEnabled": {
                      "type": "boolean"
                    },
                    "ntfyEnabled": {
                      "type": "boolean"
                    },
                    "ntfyConfigured": {
                      "type": "boolean"
                    },
                    "ntfyServerUrl": {
                      "type": "string",
                      "nullable": true
                    },
                    "ntfyTopic": {
                      "type": "string",
                      "nullable": true
                    },
                    "ntfyTokenConfigured": {
                      "type": "boolean"
                    },
                    "maskedNtfyToken": {
                      "type": "string",
                      "nullable": true
                    },
                    "gotifyEnabled": {
                      "type": "boolean"
                    },
                    "gotifyConfigured": {
                      "type": "boolean"
                    },
                    "gotifyServerUrl": {
                      "type": "string",
                      "nullable": true
                    },
                    "gotifyTokenConfigured": {
                      "type": "boolean"
                    },
                    "maskedGotifyToken": {
                      "type": "string",
                      "nullable": true
                    },
                    "webhookEnabled": {
                      "type": "boolean"
                    },
                    "webhookConfigured": {
                      "type": "boolean"
                    },
                    "webhookUrl": {
                      "type": "string",
                      "nullable": true
                    },
                    "webhookSecretConfigured": {
                      "type": "boolean"
                    },
                    "maskedWebhookSecret": {
                      "type": "string",
                      "nullable": true
                    },
                    "taskAssignmentEnabled": {
                      "type": "boolean"
                    },
                    "taskCommentEnabled": {
                      "type": "boolean"
                    },
                    "taskStatusChangeEnabled": {
                      "type": "boolean"
                    },
                    "dueDateReminderEnabled": {
                      "type": "boolean"
                    },
                    "dueDateReminderLeadTimeMinutes": {
                      "type": "number"
                    },
                    "teams": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "teamId": {
                            "type": "string"
                          },
                          "teamName": {
                            "type": "string"
                          },
                          "isActive": {
                            "type": "boolean"
                          },
                          "emailEnabled": {
                            "type": "boolean"
                          },
                          "ntfyEnabled": {
                            "type": "boolean"
                          },
                          "gotifyEnabled": {
                            "type": "boolean"
                          },
                          "webhookEnabled": {
                            "type": "boolean"
                          },
                          "projectMode": {
                            "enum": [
                              "all",
                              "selected"
                            ],
                            "type": "string"
                          },
                          "selectedProjectIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "teamId",
                          "teamName",
                          "isActive",
                          "emailEnabled",
                          "ntfyEnabled",
                          "gotifyEnabled",
                          "webhookEnabled",
                          "projectMode",
                          "selectedProjectIds",
                          "createdAt",
                          "updatedAt"
                        ]
                      }
                    },
                    "createdAt": {
                      "nullable": true
                    },
                    "updatedAt": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "emailAddress",
                    "emailEnabled",
                    "ntfyEnabled",
                    "ntfyConfigured",
                    "ntfyServerUrl",
                    "ntfyTopic",
                    "ntfyTokenConfigured",
                    "maskedNtfyToken",
                    "gotifyEnabled",
                    "gotifyConfigured",
                    "gotifyServerUrl",
                    "gotifyTokenConfigured",
                    "maskedGotifyToken",
                    "webhookEnabled",
                    "webhookConfigured",
                    "webhookUrl",
                    "webhookSecretConfigured",
                    "maskedWebhookSecret",
                    "taskAssignmentEnabled",
                    "taskCommentEnabled",
                    "taskStatusChangeEnabled",
                    "dueDateReminderEnabled",
                    "dueDateReminderLeadTimeMinutes",
                    "teams",
                    "createdAt",
                    "updatedAt"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "emailEnabled": {
                    "type": "boolean"
                  },
                  "ntfyEnabled": {
                    "type": "boolean"
                  },
                  "ntfyServerUrl": {
                    "type": "string",
                    "nullable": true
                  },
                  "ntfyTopic": {
                    "type": "string",
                    "nullable": true
                  },
                  "ntfyToken": {
                    "type": "string",
                    "nullable": true
                  },
                  "gotifyEnabled": {
                    "type": "boolean"
                  },
                  "gotifyServerUrl": {
                    "type": "string",
                    "nullable": true
                  },
                  "gotifyToken": {
                    "type": "string",
                    "nullable": true
                  },
                  "webhookEnabled": {
                    "type": "boolean"
                  },
                  "webhookUrl": {
                    "type": "string",
                    "nullable": true
                  },
                  "webhookSecret": {
                    "type": "string",
                    "nullable": true
                  },
                  "taskAssignmentEnabled": {
                    "type": "boolean"
                  },
                  "taskCommentEnabled": {
                    "type": "boolean"
                  },
                  "taskStatusChangeEnabled": {
                    "type": "boolean"
                  },
                  "dueDateReminderEnabled": {
                    "type": "boolean"
                  },
                  "dueDateReminderLeadTimeMinutes": {
                    "type": "integer",
                    "minimum": 5,
                    "maximum": 43200
                  }
                }
              }
            }
          }
        },
        "summary": "Update Notification Preferences"
      }
    },
    "/notification-preferences/teams/{teamId}": {
      "put": {
        "operationId": "upsertNotificationPreferenceTeamRule",
        "tags": [
          "Notification Preferences"
        ],
        "description": "Create or update a team notification rule",
        "responses": {
          "200": {
            "description": "Updated notification preferences",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "emailAddress": {
                      "type": "string",
                      "nullable": true
                    },
                    "emailEnabled": {
                      "type": "boolean"
                    },
                    "ntfyEnabled": {
                      "type": "boolean"
                    },
                    "ntfyConfigured": {
                      "type": "boolean"
                    },
                    "ntfyServerUrl": {
                      "type": "string",
                      "nullable": true
                    },
                    "ntfyTopic": {
                      "type": "string",
                      "nullable": true
                    },
                    "ntfyTokenConfigured": {
                      "type": "boolean"
                    },
                    "maskedNtfyToken": {
                      "type": "string",
                      "nullable": true
                    },
                    "gotifyEnabled": {
                      "type": "boolean"
                    },
                    "gotifyConfigured": {
                      "type": "boolean"
                    },
                    "gotifyServerUrl": {
                      "type": "string",
                      "nullable": true
                    },
                    "gotifyTokenConfigured": {
                      "type": "boolean"
                    },
                    "maskedGotifyToken": {
                      "type": "string",
                      "nullable": true
                    },
                    "webhookEnabled": {
                      "type": "boolean"
                    },
                    "webhookConfigured": {
                      "type": "boolean"
                    },
                    "webhookUrl": {
                      "type": "string",
                      "nullable": true
                    },
                    "webhookSecretConfigured": {
                      "type": "boolean"
                    },
                    "maskedWebhookSecret": {
                      "type": "string",
                      "nullable": true
                    },
                    "taskAssignmentEnabled": {
                      "type": "boolean"
                    },
                    "taskCommentEnabled": {
                      "type": "boolean"
                    },
                    "taskStatusChangeEnabled": {
                      "type": "boolean"
                    },
                    "dueDateReminderEnabled": {
                      "type": "boolean"
                    },
                    "dueDateReminderLeadTimeMinutes": {
                      "type": "number"
                    },
                    "teams": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "teamId": {
                            "type": "string"
                          },
                          "teamName": {
                            "type": "string"
                          },
                          "isActive": {
                            "type": "boolean"
                          },
                          "emailEnabled": {
                            "type": "boolean"
                          },
                          "ntfyEnabled": {
                            "type": "boolean"
                          },
                          "gotifyEnabled": {
                            "type": "boolean"
                          },
                          "webhookEnabled": {
                            "type": "boolean"
                          },
                          "projectMode": {
                            "enum": [
                              "all",
                              "selected"
                            ],
                            "type": "string"
                          },
                          "selectedProjectIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "teamId",
                          "teamName",
                          "isActive",
                          "emailEnabled",
                          "ntfyEnabled",
                          "gotifyEnabled",
                          "webhookEnabled",
                          "projectMode",
                          "selectedProjectIds",
                          "createdAt",
                          "updatedAt"
                        ]
                      }
                    },
                    "createdAt": {
                      "nullable": true
                    },
                    "updatedAt": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "emailAddress",
                    "emailEnabled",
                    "ntfyEnabled",
                    "ntfyConfigured",
                    "ntfyServerUrl",
                    "ntfyTopic",
                    "ntfyTokenConfigured",
                    "maskedNtfyToken",
                    "gotifyEnabled",
                    "gotifyConfigured",
                    "gotifyServerUrl",
                    "gotifyTokenConfigured",
                    "maskedGotifyToken",
                    "webhookEnabled",
                    "webhookConfigured",
                    "webhookUrl",
                    "webhookSecretConfigured",
                    "maskedWebhookSecret",
                    "taskAssignmentEnabled",
                    "taskCommentEnabled",
                    "taskStatusChangeEnabled",
                    "dueDateReminderEnabled",
                    "dueDateReminderLeadTimeMinutes",
                    "teams",
                    "createdAt",
                    "updatedAt"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "teamId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "isActive": {
                    "type": "boolean"
                  },
                  "emailEnabled": {
                    "type": "boolean"
                  },
                  "ntfyEnabled": {
                    "type": "boolean"
                  },
                  "gotifyEnabled": {
                    "type": "boolean"
                  },
                  "webhookEnabled": {
                    "type": "boolean"
                  },
                  "projectMode": {
                    "enum": [
                      "all",
                      "selected"
                    ],
                    "type": "string"
                  },
                  "selectedProjectIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "isActive",
                  "emailEnabled",
                  "ntfyEnabled",
                  "gotifyEnabled",
                  "webhookEnabled",
                  "projectMode"
                ]
              }
            }
          }
        },
        "summary": "Upsert Notification Preference Team Rule"
      },
      "delete": {
        "operationId": "deleteNotificationPreferenceTeamRule",
        "tags": [
          "Notification Preferences"
        ],
        "description": "Delete a team notification rule",
        "responses": {
          "200": {
            "description": "Updated notification preferences",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "emailAddress": {
                      "type": "string",
                      "nullable": true
                    },
                    "emailEnabled": {
                      "type": "boolean"
                    },
                    "ntfyEnabled": {
                      "type": "boolean"
                    },
                    "ntfyConfigured": {
                      "type": "boolean"
                    },
                    "ntfyServerUrl": {
                      "type": "string",
                      "nullable": true
                    },
                    "ntfyTopic": {
                      "type": "string",
                      "nullable": true
                    },
                    "ntfyTokenConfigured": {
                      "type": "boolean"
                    },
                    "maskedNtfyToken": {
                      "type": "string",
                      "nullable": true
                    },
                    "gotifyEnabled": {
                      "type": "boolean"
                    },
                    "gotifyConfigured": {
                      "type": "boolean"
                    },
                    "gotifyServerUrl": {
                      "type": "string",
                      "nullable": true
                    },
                    "gotifyTokenConfigured": {
                      "type": "boolean"
                    },
                    "maskedGotifyToken": {
                      "type": "string",
                      "nullable": true
                    },
                    "webhookEnabled": {
                      "type": "boolean"
                    },
                    "webhookConfigured": {
                      "type": "boolean"
                    },
                    "webhookUrl": {
                      "type": "string",
                      "nullable": true
                    },
                    "webhookSecretConfigured": {
                      "type": "boolean"
                    },
                    "maskedWebhookSecret": {
                      "type": "string",
                      "nullable": true
                    },
                    "taskAssignmentEnabled": {
                      "type": "boolean"
                    },
                    "taskCommentEnabled": {
                      "type": "boolean"
                    },
                    "taskStatusChangeEnabled": {
                      "type": "boolean"
                    },
                    "dueDateReminderEnabled": {
                      "type": "boolean"
                    },
                    "dueDateReminderLeadTimeMinutes": {
                      "type": "number"
                    },
                    "teams": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "teamId": {
                            "type": "string"
                          },
                          "teamName": {
                            "type": "string"
                          },
                          "isActive": {
                            "type": "boolean"
                          },
                          "emailEnabled": {
                            "type": "boolean"
                          },
                          "ntfyEnabled": {
                            "type": "boolean"
                          },
                          "gotifyEnabled": {
                            "type": "boolean"
                          },
                          "webhookEnabled": {
                            "type": "boolean"
                          },
                          "projectMode": {
                            "enum": [
                              "all",
                              "selected"
                            ],
                            "type": "string"
                          },
                          "selectedProjectIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "teamId",
                          "teamName",
                          "isActive",
                          "emailEnabled",
                          "ntfyEnabled",
                          "gotifyEnabled",
                          "webhookEnabled",
                          "projectMode",
                          "selectedProjectIds",
                          "createdAt",
                          "updatedAt"
                        ]
                      }
                    },
                    "createdAt": {
                      "nullable": true
                    },
                    "updatedAt": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "emailAddress",
                    "emailEnabled",
                    "ntfyEnabled",
                    "ntfyConfigured",
                    "ntfyServerUrl",
                    "ntfyTopic",
                    "ntfyTokenConfigured",
                    "maskedNtfyToken",
                    "gotifyEnabled",
                    "gotifyConfigured",
                    "gotifyServerUrl",
                    "gotifyTokenConfigured",
                    "maskedGotifyToken",
                    "webhookEnabled",
                    "webhookConfigured",
                    "webhookUrl",
                    "webhookSecretConfigured",
                    "maskedWebhookSecret",
                    "taskAssignmentEnabled",
                    "taskCommentEnabled",
                    "taskStatusChangeEnabled",
                    "dueDateReminderEnabled",
                    "dueDateReminderLeadTimeMinutes",
                    "teams",
                    "createdAt",
                    "updatedAt"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Team rule not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "teamId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Delete Notification Preference Team Rule"
      }
    },
    "/search": {
      "get": {
        "operationId": "globalSearch",
        "tags": [
          "Search"
        ],
        "description": "Search across tasks, projects, teams, comments, and activities",
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tasks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "projectId": {
                            "type": "string"
                          },
                          "position": {
                            "type": "number",
                            "nullable": true
                          },
                          "number": {
                            "type": "number",
                            "nullable": true
                          },
                          "userId": {
                            "type": "string",
                            "nullable": true
                          },
                          "title": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "status": {
                            "type": "string"
                          },
                          "priority": {
                            "enum": [
                              "no-priority",
                              "low",
                              "medium",
                              "high",
                              "urgent"
                            ],
                            "type": "string"
                          },
                          "startDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dueDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "requiredRole": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "required": [
                          "id",
                          "projectId",
                          "position",
                          "number",
                          "userId",
                          "title",
                          "description",
                          "status",
                          "priority",
                          "createdAt",
                          "requiredRole"
                        ]
                      }
                    },
                    "projects": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "teamId": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "icon": {
                            "type": "string",
                            "nullable": true
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "isPublic": {
                            "type": "boolean",
                            "nullable": true
                          },
                          "archivedAt": {
                            "nullable": true
                          },
                          "position": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "id",
                          "teamId",
                          "slug",
                          "icon",
                          "name",
                          "description",
                          "createdAt",
                          "isPublic",
                          "archivedAt",
                          "position"
                        ]
                      }
                    },
                    "teams": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "description",
                          "createdAt"
                        ]
                      }
                    },
                    "comments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "taskId": {
                            "type": "string"
                          },
                          "type": {
                            "enum": [
                              "comment",
                              "task",
                              "status_changed",
                              "priority_changed",
                              "unassigned",
                              "assignee_changed",
                              "due_date_changed",
                              "title_changed",
                              "description_changed",
                              "create"
                            ],
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "userId": {
                            "type": "string",
                            "nullable": true
                          },
                          "content": {
                            "type": "string",
                            "nullable": true
                          },
                          "eventData": {
                            "type": "object",
                            "additionalProperties": true,
                            "nullable": true
                          },
                          "externalUserName": {
                            "type": "string",
                            "nullable": true
                          },
                          "externalUserAvatar": {
                            "type": "string",
                            "nullable": true
                          },
                          "externalSource": {
                            "type": "string",
                            "nullable": true
                          },
                          "externalUrl": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "required": [
                          "id",
                          "taskId",
                          "type",
                          "createdAt",
                          "userId",
                          "content",
                          "eventData",
                          "externalUserName",
                          "externalUserAvatar",
                          "externalSource",
                          "externalUrl"
                        ]
                      }
                    },
                    "activities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "taskId": {
                            "type": "string"
                          },
                          "type": {
                            "enum": [
                              "comment",
                              "task",
                              "status_changed",
                              "priority_changed",
                              "unassigned",
                              "assignee_changed",
                              "due_date_changed",
                              "title_changed",
                              "description_changed",
                              "create"
                            ],
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "userId": {
                            "type": "string",
                            "nullable": true
                          },
                          "content": {
                            "type": "string",
                            "nullable": true
                          },
                          "eventData": {
                            "type": "object",
                            "additionalProperties": true,
                            "nullable": true
                          },
                          "externalUserName": {
                            "type": "string",
                            "nullable": true
                          },
                          "externalUserAvatar": {
                            "type": "string",
                            "nullable": true
                          },
                          "externalSource": {
                            "type": "string",
                            "nullable": true
                          },
                          "externalUrl": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "required": [
                          "id",
                          "taskId",
                          "type",
                          "createdAt",
                          "userId",
                          "content",
                          "eventData",
                          "externalUserName",
                          "externalUserAvatar",
                          "externalSource",
                          "externalUrl"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "data": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true
          },
          {
            "in": "query",
            "name": "type",
            "schema": {
              "enum": [
                "all",
                "tasks",
                "projects",
                "teams",
                "comments",
                "activities"
              ],
              "type": "string",
              "default": "all"
            }
          },
          {
            "in": "query",
            "name": "teamId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "projectId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": "20"
            }
          },
          {
            "in": "query",
            "name": "userEmail",
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "summary": "Global Search"
      }
    },
    "/gitea-integration/vcs/{projectId}/repositories": {
      "get": {
        "operationId": "getGiteaIntegrationVcsByProjectIdRepositories",
        "tags": [
          "gitea"
        ],
        "description": "List repositories accessible to the gitea integration",
        "responses": {
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "data": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Get Gitea Integration Vcs By Project Id Repositories"
      }
    },
    "/gitea-integration/vcs/{projectId}/issues": {
      "get": {
        "operationId": "getGiteaIntegrationVcsByProjectIdIssues",
        "tags": [
          "gitea"
        ],
        "description": "List issues in the configured gitea repository",
        "responses": {
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "data": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "state",
            "schema": {
              "enum": [
                "open",
                "closed",
                "all"
              ],
              "type": "string"
            }
          }
        ],
        "summary": "Get Gitea Integration Vcs By Project Id Issues"
      },
      "post": {
        "operationId": "postGiteaIntegrationVcsByProjectIdIssues",
        "tags": [
          "gitea"
        ],
        "description": "Create an issue in the configured gitea repository",
        "responses": {
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "data": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "body": {
                    "type": "string",
                    "nullable": true
                  },
                  "closed": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "title"
                ]
              }
            }
          }
        },
        "summary": "Post Gitea Integration Vcs By Project Id Issues"
      }
    },
    "/gitea-integration/vcs/{projectId}/issues/{number}": {
      "get": {
        "operationId": "getGiteaIntegrationVcsByProjectIdIssuesByNumber",
        "tags": [
          "gitea"
        ],
        "description": "Get a single gitea issue by number",
        "responses": {
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "data": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "number",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Get Gitea Integration Vcs By Project Id Issues By Number"
      },
      "patch": {
        "operationId": "patchGiteaIntegrationVcsByProjectIdIssuesByNumber",
        "tags": [
          "gitea"
        ],
        "description": "Update a gitea issue by number",
        "responses": {
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "data": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "number",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "body": {
                    "type": "string",
                    "nullable": true
                  },
                  "state": {
                    "enum": [
                      "open",
                      "closed"
                    ],
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "summary": "Patch Gitea Integration Vcs By Project Id Issues By Number"
      }
    },
    "/gitea-integration/vcs/{projectId}/issues/{number}/comments": {
      "get": {
        "operationId": "getGiteaIntegrationVcsByProjectIdIssuesByNumberComments",
        "tags": [
          "gitea"
        ],
        "description": "List comments on a gitea issue",
        "responses": {
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "data": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "number",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Get Gitea Integration Vcs By Project Id Issues By Number Comments"
      },
      "post": {
        "operationId": "postGiteaIntegrationVcsByProjectIdIssuesByNumberComments",
        "tags": [
          "gitea"
        ],
        "description": "Comment on a gitea issue",
        "responses": {
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "data": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "number",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "string"
                  }
                },
                "required": [
                  "body"
                ]
              }
            }
          }
        },
        "summary": "Post Gitea Integration Vcs By Project Id Issues By Number Comments"
      }
    },
    "/gitea-integration/vcs/{projectId}/pull-requests": {
      "get": {
        "operationId": "getGiteaIntegrationVcsByProjectIdPullRequests",
        "tags": [
          "gitea"
        ],
        "description": "List open pull requests in the configured gitea repository",
        "responses": {
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "data": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "success",
                    "error",
                    "data"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Get Gitea Integration Vcs By Project Id Pull Requests"
      }
    },
    "/gitea-integration/vcs/{projectId}/labels": {
      "get": {
        "operationId": "getGiteaIntegrationVcsByProjectIdLabels",
        "tags": [
          "gitea"
        ],
        "description": "List labels in the configured gitea repository",
        "responses": {
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        false
                      ]
                    },
                    "error": {
                      "type": "array",
                      "items": {
[...]
